/* Fonts */
/*@import url();*/

/* Structural */
body {
	font-family: serif;
	background-color: beige;
	margin: 0;
}

header {
	text-align: center;
	margin-bottom: 5rem;
	background-color: rgb(197, 62, 62);
	padding: 1rem;
}

main {
	text-align: center;
}

/* Text */
h1 {
	font-family: serif;
	font-size: 3rem;
	margin: 1rem;
}

h2 {
	font-size: 1.3rem;
	font-weight: normal;
}

a {
	color: black;
	text-decoration: none;
}

/* Buttons */
button {
	font-family: serif;
	font-size: 1.3rem;
	color: black;
	background-color: #f3f3f3;
	cursor: pointer;
	padding: 0.8rem;
	margin: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 9px #4b4b4b;
}

button:hover {
	background-color: #d3d3d3;
}

button:active {
	background-color: darkgray;
	box-shadow: 0 3px #3f3f3f;
	transform: translateY(6px);
}

.menuButton {
	width: 10rem;
}

#gameArea .menuButton {
	display: none;
}

/* Modal */
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; /* On top */
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.4);
}

.modalContent {
	background-color: #fefefe;
	text-align: left;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	border-radius: 0.5rem;
	animation: fadeIn 0.5s;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Game Styles */
#gameArea {
	display: none;
}
#gameArea img {
	max-width: 75%;
	height: auto;
	border-radius: 0.5rem;
}

#timer {
	font-size: 2rem;
	margin-top: 1rem;
}

/*using regular button styling for time being*/
/*#ingredientButtons button {
	display: inline-block;
	margin: 0.5rem;
	padding: 0.5rem;
	border: 1px solid #ccc;
	background-color: white;
}

#ingredientButtons button:hover {
	background-color: grey;
}*/

#ingredientButtons button.correct {
	background-color: lightgreen;
}

#ingredientButtons button.incorrect {
	background-color: lightcoral;
}